<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>GetUser</servlet-name>
        <servlet-class>servlets.GetUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InitDB</servlet-name>
        <servlet-class>servlets.InitDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDB</servlet-name>
        <servlet-class>servlets.DeleteDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginUser</servlet-name>
        <servlet-class>servlets.LoginUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConnectedUser_checkSession</servlet-name>
        <servlet-class>servlets.ConnectedUser_checkSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConnectedUser_GetUsername</servlet-name>
        <servlet-class>servlets.ConnectedUser_GetUsername</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConnectedUser_DestroySession</servlet-name>
        <servlet-class>servlets.ConnectedUser_DestroySession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConnectedUser_UpdateInfo</servlet-name>
        <servlet-class>servlets.ConnectedUser_UpdateInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConnectedUser_GetInfo</servlet-name>
        <servlet-class>servlets.ConnectedUser_GetInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConnectedUser_ViewALLIncidents</servlet-name>
        <servlet-class>servlets.ConnectedUser_ViewALLIncidents</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConnectedUser_GetActiveIncidents</servlet-name>
        <servlet-class>servlets.ConnectedUser_GetActiveIncidents</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConnectedUser_GetActiveIncidentsAndExtra</servlet-name>
        <servlet-class>servlets.ConnectedUser_GetActiveIncidentsAndExtra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConnectedUser_SendMessage</servlet-name>
        <servlet-class>servlets.ConnectedUser_SendMessage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportAnIncident</servlet-name>
        <servlet-class>servlets.ReportAnIncident</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Guest_ViewActiveIncidents</servlet-name>
        <servlet-class>servlets.Guest_ViewActiveIncidents</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_Login</servlet-name>
        <servlet-class>servlets.Admin_Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin_UpdateAnIncident</servlet-name>
        <servlet-class>servlets.admin_UpdateAnIncident</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin_GetALLIncidents</servlet-name>
        <servlet-class>servlets.admin_GetALLIncidents</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserRegistration</servlet-name>
        <servlet-class>servlets.UserRegistration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VolunteerRegistration</servlet-name>
        <servlet-class>servlets.VolunteerRegistration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Volunteer_CheckName</servlet-name>
        <servlet-class>servlets.Volunteer_CheckName</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Volunteer_CheckEmail</servlet-name>
        <servlet-class>servlets.Volunteer_CheckEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Volunteer_CheckTelephone</servlet-name>
        <servlet-class>servlets.Volunteer_CheckTelephone</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User_CheckName</servlet-name>
        <servlet-class>servlets.User_CheckName</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User_CheckEmail</servlet-name>
        <servlet-class>servlets.User_CheckEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User_CheckTelephone</servlet-name>
        <servlet-class>servlets.User_CheckTelephone</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Volunteer_Login</servlet-name>
        <servlet-class>servlets.Volunteer_Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConnectedVolunteer_DestroySession</servlet-name>
        <servlet-class>servlets.ConnectedVolunteer_DestroySession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConnectedVolunteer_GetUsername</servlet-name>
        <servlet-class>servlets.ConnectedVolunteer_GetUsername</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConnectedUser_Logout</servlet-name>
        <servlet-class>servlets.ConnectedUser_Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin_Logout</servlet-name>
        <servlet-class>servlets.admin_Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConnectedVolunteer_Logout</servlet-name>
        <servlet-class>servlets.ConnectedVolunteer_Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConnectedVolunteer_GetInfo</servlet-name>
        <servlet-class>servlets.ConnectedVolunteer_GetInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConnectedVolunteer_UpdateInfo</servlet-name>
        <servlet-class>servlets.ConnectedVolunteer_UpdateInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin_OpenNewPositions</servlet-name>
        <servlet-class>servlets.admin_OpenNewPositions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConnectedVolunteer_GetAvailableEmergencies</servlet-name>
        <servlet-class>servlets.ConnectedVolunteer_GetAvailableEmergencies</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConnectedVolunteer_GetIncidentByid</servlet-name>
        <servlet-class>servlets.ConnectedVolunteer_GetIncidentByid</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConnectedVolunteer_AcceptEmergency</servlet-name>
        <servlet-class>servlets.ConnectedVolunteer_AcceptEmergency</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConnectedVolunteer_IsVolunteerBusy</servlet-name>
        <servlet-class>servlets.ConnectedVolunteer_IsVolunteerBusy</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin_AcceptVolunteersRequest</servlet-name>
        <servlet-class>servlets.admin_AcceptVolunteersRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin_GetVolunteersRequests</servlet-name>
        <servlet-class>servlets.admin_GetVolunteersRequests</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConnectedVolunteer_CheckRequest</servlet-name>
        <servlet-class>servlets.ConnectedVolunteer_CheckRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin_SendMessage</servlet-name>
        <servlet-class>servlets.admin_SendMessage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin_ViewStatistics</servlet-name>
        <servlet-class>servlets.admin_ViewStatistics</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminManageData</servlet-name>
        <servlet-class>servlets.AdminManageData</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetUser</servlet-name>
        <url-pattern>/GetUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InitDB</servlet-name>
        <url-pattern>/InitDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDB</servlet-name>
        <url-pattern>/DeleteDB</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>html/Initial_Page.html</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>LoginUser</servlet-name>
        <url-pattern>/LoginUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConnectedUser_checkSession</servlet-name>
        <url-pattern>/ConnectedUser_checkSession</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConnectedUser_GetUsername</servlet-name>
        <url-pattern>/ConnectedUser_GetUsername</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConnectedUser_DestroySession</servlet-name>
        <url-pattern>/ConnectedUser_DestroySession</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConnectedUser_UpdateInfo</servlet-name>
        <url-pattern>/ConnectedUser_UpdateInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConnectedUser_GetInfo</servlet-name>
        <url-pattern>/ConnectedUser_GetInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConnectedUser_ViewALLIncidents</servlet-name>
        <url-pattern>/ConnectedUser_ViewALLIncidents</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConnectedUser_GetActiveIncidents</servlet-name>
        <url-pattern>/ConnectedUser_GetActiveIncidents</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConnectedUser_GetActiveIncidentsAndExtra</servlet-name>
        <url-pattern>/ConnectedUser_GetActiveIncidentsAndExtra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConnectedUser_SendMessage</servlet-name>
        <url-pattern>/ConnectedUser_SendMessage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportAnIncident</servlet-name>
        <url-pattern>/ReportAnIncident</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Guest_ViewActiveIncidents</servlet-name>
        <url-pattern>/Guest_ViewActiveIncidents</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_Login</servlet-name>
        <url-pattern>/Admin_Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin_UpdateAnIncident</servlet-name>
        <url-pattern>/admin_UpdateAnIncident</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin_GetALLIncidents</servlet-name>
        <url-pattern>/admin_GetALLIncidents</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserRegistration</servlet-name>
        <url-pattern>/UserRegistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VolunteerRegistration</servlet-name>
        <url-pattern>/VolunteerRegistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Volunteer_CheckName</servlet-name>
        <url-pattern>/Volunteer_CheckName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Volunteer_CheckEmail</servlet-name>
        <url-pattern>/Volunteer_CheckEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Volunteer_CheckTelephone</servlet-name>
        <url-pattern>/Volunteer_CheckTelephone</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User_CheckName</servlet-name>
        <url-pattern>/User_CheckName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User_CheckEmail</servlet-name>
        <url-pattern>/User_CheckEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User_CheckTelephone</servlet-name>
        <url-pattern>/User_CheckTelephone</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Volunteer_Login</servlet-name>
        <url-pattern>/Volunteer_Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConnectedVolunteer_DestroySession</servlet-name>
        <url-pattern>/ConnectedVolunteer_DestroySession</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConnectedVolunteer_GetUsername</servlet-name>
        <url-pattern>/ConnectedVolunteer_GetUsername</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConnectedUser_Logout</servlet-name>
        <url-pattern>/ConnectedUser_Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin_Logout</servlet-name>
        <url-pattern>/admin_Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConnectedVolunteer_Logout</servlet-name>
        <url-pattern>/ConnectedVolunteer_Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConnectedVolunteer_GetInfo</servlet-name>
        <url-pattern>/ConnectedVolunteer_GetInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConnectedVolunteer_UpdateInfo</servlet-name>
        <url-pattern>/ConnectedVolunteer_UpdateInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin_OpenNewPositions</servlet-name>
        <url-pattern>/admin_OpenNewPositions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConnectedVolunteer_GetAvailableEmergencies</servlet-name>
        <url-pattern>/ConnectedVolunteer_GetAvailableEmergencies</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConnectedVolunteer_GetIncidentByid</servlet-name>
        <url-pattern>/ConnectedVolunteer_GetIncidentByid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConnectedVolunteer_AcceptEmergency</servlet-name>
        <url-pattern>/ConnectedVolunteer_AcceptEmergency</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConnectedVolunteer_IsVolunteerBusy</servlet-name>
        <url-pattern>/ConnectedVolunteer_IsVolunteerBusy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin_AcceptVolunteersRequest</servlet-name>
        <url-pattern>/admin_AcceptVolunteersRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin_GetVolunteersRequests</servlet-name>
        <url-pattern>/admin_GetVolunteersRequests</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConnectedVolunteer_CheckRequest</servlet-name>
        <url-pattern>/ConnectedVolunteer_CheckRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin_SendMessage</servlet-name>
        <url-pattern>/admin_SendMessage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin_ViewStatistics</servlet-name>
        <url-pattern>/admin_ViewStatistics</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminManageData</servlet-name>
        <url-pattern>/AdminManageData</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
